/* Styles go here */
body
{
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.main-container{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
  }

  .navbar-logo{
    float: left !important;
    padding-bottom: 10px;
  }

  #cc-by{
    padding-left: 15px;
  }
}

.navbar-header, .nav-pills{
    height: 42px;
}

.navbar-default{
    margin-bottom: 0px;
}

.nav-pills{
    padding-left: 15px;
}

#menu-content{
    padding-left: 15px;
    padding-right: 15px;
    float:left;
    margin-top: -100%;
}

#slide-panel {
    width:300px;
    height:100%;
    padding-top: 15px;
    background:#eee;
    margin-left:-300px;
    float: left;
    max-width: 300px;
    position: absolute;
    z-index: 1;
}

#opener {
    float:right;
    margin-right: -90px;
    margin-top: 100%;
    z-index: 1;
    position: relative;
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
    border-top: none;
}

.glyphicon-chevron-down{
    vertical-align: middle;
}

#opener-icon{
    padding-left: 5px;
}

#map {
    height: 94%;
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0px;
}

table{
    width: 100%;
    clear: none !important;
}

.dataTables_wrapper{
    clear: none;
    margin: 0 40 40 40;
}

.popup-table{
    margin-top: 20px;
    font-size: 12;
}

.popup-table .attr-title{
    font-weight: bold;
}

.popup-title{
    font-weight: bold;
    text-align: center;
    font-size: 18 !important;
}

.modal-body {
    padding:5px !important;
}

.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
    width: 100%;
}

#photo-modal{
    top:15%;
}

#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.6);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    z-index: 10000;
}

#loader.done {
    background:rgba(255, 255, 255, 0);
}

#loader.hide {
    display:none;
}

.navbar-logo{
    float: right;
    padding-top: 10px;
    padding-right: 3px;
}

.modal-content > .close{
    position: relative;
    z-index: 1;
    padding-right: 12px;
    margin-top: -25px;
    top: 30px;
}

#lista thead th{
    border-bottom: 0;
    border-top: 0;
}

#lista tfoot th{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

tfoot {
    display: table-header-group;
}


tfoot th{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(17, 17, 17);
}


.marker-icon{
    width: 25px;
}

.crop{
    width: 250px;
}

.legend-label{
    padding-top: 5px;
    padding-left: 35px;
}

.crop p{
    height: 30px;
    float: left;
}

td.map-control {
    background: url('../img/paraguay.png') no-repeat center center;
    cursor: pointer;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.leaflet-bottom, .leaflet-top{
    z-index: 0;
}

.controls{
    width:70px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}

.next {
    float:right;
    text-align:right;
}

.column-filter{
    width: 100%;
}

#popup-table{
    margin-top: 50px;
}

.marker-popup{
    min-height: 560px !important;
}

.leaflet-popup-content{
    min-height: 560px;
}

.slides li img{
    cursor: pointer;
}

.glyphicon.glyphicon-refresh.icon-refresh {
    padding-top: 3px;
    padding-bottom: 3px;
}

.margin-table {
    padding-right: 20px;
    padding-left: 20px;
}

#download-button-bar{
    margin-left: 25px;
}

#dropdown2 {
    padding-right: 20px;
    padding-left: 20px;
}

#dropdown1 {
    padding-right: 20px;
    padding-left: 20px;
}

.legend {
   text-align: left;
   line-height: 18px;
   color: #555;
}

.legend i {
   width: 15px;
   height: 15px;
   float: left;
   margin-right: 8px;
   opacity: 0.8;
}

.leaflet-popup-close-button {
   display: none;
}

.leaflet-popup-content-wrapper {
   pointer-events: none;
}

.info {
   padding: 6px 8px;
   font: 14px/16px Arial, Helvetica, sans-serif;
   background: white;
   background: rgba(255,255,255,0.8);
   box-shadow: 10 10 15px rgba(0,0,0,0.2);
   border-radius: 5px;
}

.info h4 {
   margin: 10 10 15px;
   color: #777;
}

.leaflet-control-command-interior
{
    /*background-image: url(images/command.png);*/
    width: 70px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
    background-color: #F4F4F4;
}

.leaflet-control-label
{
    color: red;
}

.leaflet-control-command-interior:before {
  content: "Paraguay";
}